<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyectosdm.beerScanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconocerveza"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <activity
            android:name="com.proyectosdm.beerScanner.ui.LoginActivity"
            android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.proyectosdm.beerScanner.ui.RegistroActivity"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.proyectosdm.beerScanner.ui.Tabs"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.proyectosdm.beerScanner.ui.InfoCervezaActivity"
            android:screenOrientation="landscape"/>

    </application>
</manifest>